@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap');

body {
    background-color: #0D1B2A;
    color: #E0E1DD;
}

body, div, a, p, span, table {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.nuxt-content {
    padding-top: 0 !important;
    padding: 2.5rem;
}

h1 {
    font-size: 35px;
    padding-left: 2rem;
    padding-top: 1rem;
}

.black {
    background-color: rgba(0, 0, 0, 0.6);
}