body {
    margin: 0;
    padding: 0;
}

main {
    height: 40vh;
    width: 100%;
}

.blackhover {
    height: 40vh;
}

.header-bg {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}

.author {
    background-color: whitesmoke;
    color: #0D1B2A;
    padding: 3px;
    border-radius: 5px;
}

.content {
    width: 70%;
    padding-top: 1rem;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #415A77;
    height: auto !important;
    border-radius: 1rem;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

h1.title {
    text-align: left;
    padding-left: 0 ;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0;
    padding-top: 0;
}

.a-cont {
    text-align: left !important;
    padding-left: 3rem;
}

.a-cont .mainTag, .a-cont .subTag {
    border-radius: 5px;
    padding: 3px;

    background: whitesmoke;
    color: #1e2f2f;

    text-decoration: none;
    
    opacity: 1;
    transition: .3s;
}

.a-cont .mainTag:hover, .a-cont .subTag:hover {
    background: whitesmoke;
    color: #1e2f2f;

    text-decoration: none;

    opacity: .7;
}

.nav {
    list-style-type: none;
}

.pos {
    text-align: right !important;
    list-style-type: none;
    padding-right: 3rem;
}

.pos a {
    color: whitesmoke;
    text-decoration: underline;
}

.pos a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.nuxt-content blockquote {
    text-align: left;
}

.nuxt-content p {
    text-align: left;
}

.nuxt-content a {
    color: whitesmoke;
    text-decoration: underline;
}

.nuxt-content a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.nuxt-content code {
    color: whitesmoke;
    padding: 3px;
    background-color: rgba(36, 36, 36, 0.6);
    border-radius: 5px;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    .content {
        width: 90%;
    }
}