@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
  background-color: #242424!important;
  color: #EDEDED!important;
}

div {
  background-color: #242424!important;
  color: #EDEDED!important;
}

div h1 {
  border-right:1px solid #EDEDED!important;
}

b,
strong,
h3,
h4,
h5,
h6 {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  font-variation-settings: 'wght' 650;
}
h1 {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  font-variation-settings: 'wght' 850;
}
h2 {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  font-variation-settings: 'wght' 750;
}
p {
  color: #EDEDED!important;
}

.meta {
  color: #EDEDED!important;
}

.meta time {
  color: #B6B6B6!important;
}

.meta .tag {
  color: #242424!important;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    background-color: #242424;
    color: #EDEDED!important;
    font-family: 'Kanit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

img.next-image {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  margin: 0;
}

.prose a {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  color: #0074de;
}

.nav-line .nav-link {
  color: #EDEDED!important;
  font-family: 'Kanit', sans-serif;
  color: #69778c;
}
